h1{
border: 3px solid color(srgb rgb(226, 91, 91) green blue);
font-size:50px;
text-shadow: 3px 3px 3px palegoldenrod, -3px -3px -3px rgb(250, 0, 0);

}
p{

border: 10px solid;


}
#box{

width: 100px;
height: 100px;
background-color: chartreuse;
box-shadow: 3px 3px 3px plum;

} 
body{
    margin: 0px;
}
.box{

    border: 5px solid;
    font-size: 5em;
    width: 500px;
    height: 250px;
}
#box1{
    background-color: brown;
    margin: auto;
}
#box2{

    background-color: blue;
    margin: 50px;

}