
.box{
width: 50%;
height: auto;
border: 2px solid;
padding: 25px;
float: left;
text-align: center;
min-height: 50%;
background-color: beige;
box-sizing: border-box;

}
body{
    background-color: rgb(215, 29, 29);
}
    #greeting p{

        background-color: rgb(20, 220, 123);
        padding: 10PX;
       display: none;

    }
    #greeting:hover p{
        display: block;

    }
    #box1{
        width: 250px;
        height: 250px;
        border: 2px solid;
        font-size:13em ;
        text-align: center;
        background-color: darkorange;
    }
